
body {
	background: rgba(217, 235, 255, 1);
	font-family : "century gothic", "Lucida Sans Unicode", Arial;
}

/*header-menu beginning*/
#menu{
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	background: rgba(48, 133, 230, 1);
	text-align: center;
	color: white;
	line-height: 50px;
	font-size: 20px;
}

.menuitem{
	background: rgba(48, 133, 230, 1);
	transition: background 0.5s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuitem:hover{
	background: rgba(2, 93, 196, 1);
}

#about{
	position: absolute;
	width: 120px;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
#projects{
	position: absolute;
	width: 120px;
	height: 100%;
	top: 0px;
	left: 121px;
	overflow: hidden;
}
#contact{
	position: absolute;
	width: 120px;
	height: 100%;
	top: 0px;
	left: 242px;
	overflow: hidden;
}
#lang{
	position: absolute;
	width: 50px;
	height: 100%;
	top: 0px;
	right: 0px;
	overflow: hidden;
}

#lang_switch{
	position: fixed;
	width: 50px;
	height: 50px;
	top: 50px;
	right: 0px;
	background: rgba(48, 133, 230, 1);
	text-align: center;
	color: white;
	line-height: 50px;
	transition: background 0.5s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	display: none;
}

#lang_switch:hover{
	background: rgba(2, 93, 196, 1);
}
/*header-menu ending*/

/*project popup beginning*/
#blackscreen{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.9;
	display: none;
}
#popup{
	position: fixed;
	width: 1000px;
	height: 800px;
	background-color: white;
	opacity: 1;
	display: none;
}

.popup_text{
	display: none;
}

#project_list{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(48, 133, 230, 1);
	width: 300px;
	height: 100%;
	text-align: center;
	color: white;
	line-height: 50px;
}

.popup_item{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 50px;
	background: rgba(48, 133, 230, 1);
	transition: background 0.5s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	list-style-type: none;
}

.popup_item:hover{
	background: rgba(2, 93, 196, 1);
}

#ur{
	top: 0px;
}

#preview{
	position: absolute;
	top: 0px;
	left: 300px;
	width: 500px;
	height: 100%;
	background: rgba(217, 235, 255, 1);
}

#pre_description{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 300px;
	text-align: center;
	line-height: 300px;
}

#pre_picture{
	position: absolute;
	top: 300px;
	left: 0px;
	width: 100%;
	height: 300px;
	text-align: center;
	line-height: 300px;
}

/*project popup ending*/

/*screen div definition*/
#screen{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	/*z-index:-1;*/
	background-color: red;
}