<!DOCTYPE html>
<html>
	<head>
		<title>Project Night</title>
		<link href="general.css" rel="stylesheet" type="text/css" media="all">
		<meta charset="utf-8">
		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/angular-animate.js"></script>
	</head>
	
	<body ng-app="nightApp" ng-controller="nightCtrl">
		<!-- menu bar that holds the menu buttons -->
		<div id="menu_bar">
			<ul id="menu_buttons">
				<a href="#/!" class="menu_link"><li id="about" class="menuitem">About</li></a>
				<li id="projects" class="menuitem" ng-click="showDiv = true">Projects</li>
				<a href="#!notready" class="menu_link"><li id="opinions" class="menuitem">Opinions</li></a>
				<a href="#!contact" class="menu_link"><li id="contact" class="menuitem">Contact</li></a>
				<a href="index_hun.html" class="menu_link"><li id="lang" class="menuitem">HU</li></a>
			</ul>
		</div>
		
		<div class="blackscreen" ng-hide="!showDiv" ng-click="showDiv = false"></div> <!--blackish background of the popup menu-->
		
		<!-- popup menu -->
		<div class="popup_screen" ng-hide="!showDiv" ng-click="showDiv = false">
			<div id="popup">
				<div id="project_list" class="popup_text">
					<!--list for the project links-->
					<ul>
						<a href="#!ur" class="menu_link" ng-mouseenter="prevUr()"><li id="ur" class="popup_item">Royal Game of Ur</li></a>
						<a href="#!egghead" class="menu_link" ng-mouseenter="prevEgg()"><li id="wwtbae" class="popup_item">Who Wants To Be An Egghead</li></a>
					</ul>
				</div>
				<img src={{prevpic}} alt="placeholder" id="p_pic">
			</div>
		</div>
		
		
		<!-- Everything on the website apart from the menus is inside the screen -->
		<div id="screen">
			
			<!-- content of the page goes here -->
			<div id="content" ng-view></div>
		</div>
		
		<script src="js/nightController.js"></script>
		
	</body>

</html>