#screen{
	left: 100px;
}

#description{
	position: absolute;
	top: 100px;
	width: 1166px;
}

#slider{
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

#slider ul {
	position: relative;
	top: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
	
#slider ul li {
	position: relative;
	margin: 0;
	padding: 0;
}
	
#slider ul li img {
	display: block;
}

#specs{
	position: absolute;
	top: 0px;
	left: 450px;
	list-style-type: none;
	margin: 0px;
	font-size: 18px;
}

.specs_list{
	margin-bottom: 1em;
}

a{
	color: blue;
	text-decoration: none;
}

a:hover{
	color: red;
	text-decoration: underline;
}

#description_long{
	position: absolute;
	top: 450px;
	width: 1166px;
}